body {
  margin: 0;
}
/* header */
.header {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.logo_img {
  padding-left: 38px;
  width: 163px;
}

.nav_bar .top_menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav_bar .top_menu > li {
  padding: 0 30px;
}

.nav_bar .top_menu > li > a {
  color: #939393;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_bar .top_menu > li > a:hover {
  color: #ffffff;
}
.nav_bar .top_menu > li > a:hover::after {
  content: "";
  display: block;
  position: relative;
  top: 7px;
  width: 70%;
  margin: 0 auto;
  outline: 2px solid #c5b358;
}

.nav_bar > ul > li > ul {
  display: none;
}

.icons {
  padding-left: 0;
  padding-right: 38px;
  list-style-type: none;
  font-size: 20px;
}

.icons > li {
  display: inline;
  padding: 0 10px;
  color: #fff;
}

/* main */
main {
  background: pink;
}

aside {
  display: none;
}

section.slide_image {
  top: 0;
  background: no-repeat center center
    url(../asset/img/h1-slide-1-background.jpg);
  width: 100%;
  height: 100vh;
}

section article.first_slide {
  color: #fff;
}

.first_slide div.material {
  /* 임시 */
  display: none;
}
.first_slide div.center_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.first_slide div.center_title h1 {
  margin: 0;
  font-size: 4vw;
  color: #fff;
  letter-spacing: 13px;
  text-transform: uppercase;
}

.divider {
  border: 1px solid #c5b358;
}

.w50 {
  width: 50px;
}

.w110 {
  width: 110px;
}

.center {
  text-align: center;
}

.slide_button {
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  background-color: #c5b358;
  color: #fff;
  border: 0;
}

.slide_button:hover {
  background-color: #fff;
  color: #c5b358;
  cursor: pointer;
}

/* 임시 */
.hide {
  display: none;
}

.who_section {
  background-color: #fff;
  padding: 20px 0;
  margin: 20px 0;
}

.who_section .intro_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  padding: 0 20px;
  width: 22%;
}

.box img {
  width: 100%;
}

.box h3 {
  text-transform: uppercase;
}

.box > p {
  color: #939393;
}

/* footer */
footer {
  background: skyblue;
}
